{% extends "base.html" %}

{% block title %}
{{ page.title }} | 
{% endblock %}

{% block content %}
<div class="container">
    <div class="vertical-viewport">
        <div class="sticky">
            <div class="top-banner">
                <div class="fof">Frame of 42yeah</div>
            </div>
            {% include "toolbar.html" %}
        </div>
        
        <div class="blog-container">
            <div class="parallax" style="background-image: url({{ resize_image(path=page.extra.thumbnail, quality=100, width=750, height=500) }});">
                <div class="title">
                    <h3>{{ page.title }}</h3>
                    <h5><i class="nf">פֿ <!-- pen --></i> {{ page.extra.author }}</h5>
                    <h5><i class="nf"><!-- clock --></i> {{ page.date }}</h5>
                </div>
            </div>

            <div class="content">
                {% if page.toc %}
                <div class="toc">
                    <h4 class="toc-title">Table of Contents</h4>
                    <div class="mt-half">
                        {% for h1 in page.toc %}
                        <div class="toc-h1">
                            <a class="toc-h1-a" href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                        </div>
                        {% if h1.children %}
                        {% for h2 in h1.children %}
                        <div class="toc-h2">
                            <a class="toc-h2-a" href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <p>
                    {{ page.content | safe }}
                </p>
            </div>
        </div>
        <script src="/js/schemeModify.js"></script>
        {% include "footer.html" %}
    </div>
</div>
{% endblock content %}
